@import "helpers/animations";
@import "helpers/place-val";

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: black;
}

.flex-box {
  .animation-container {
    height: 100vh;
    width: 100vw;
    position: relative;

    #logo-n {
      @extend %logo-position;
      opacity: 0;
      z-index: 5;
      animation: fade-in-transform 6s forwards;
    }

    .whiteout {
      @extend %logo-position;
      background-color: black;
      z-index: 4;
      animation: slide-down 2s 0.5s forwards;
    }

    #logo-n2 {
      @extend %logo-position;
      z-index: 3;
      animation: transform 6s forwards;
    }

    .whiteout2 {
      @extend %logo-position;
      background-color: black;
      z-index: 2;
      animation: slide-down 2s 1s forwards;
    }

    #logo-n3 {
      @extend %logo-position;
      background-color: black;
      z-index: 1;
      animation: transform 6s forwards;
    }

    #logo-night {
      position: absolute;
      top: 4%;
      left: -100vw;
      width: 60vw;
      animation: slide-over 1s 4s forwards;
    }

    #logo-nerd {
      position: absolute;
      top: 4%;
      left: -100vw;
      margin-left: 1vw;
      width: 60vw;
      animation: slide-over 1s 5s forwards;
    }
  }
}
